html, input, select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

body {
  padding: 0px;
  justify-content: center;
  display: flex;
  text-size-adjust: none;
  margin: 0px;
}

.appFrame {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.subMenuBox {
   position: absolute;
   z-index: 5;
   padding: 3px;
   background-color: #a0bad4;
}

.subMenuItem {
   padding: 3px;
}

.subMenuLink, .menuItemLink, .subMenuItemLink {
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   flex-direction: row;
   text-decoration: none;
   color: #333;
}

.breakMenuItem {
   margin-left: auto;
}

.menuItemLink, .subMenuLink {
   /* border-bottom: 3px solid #a0bad4; */
}

.menuItemLink:hover, .subMenuLink:hover {
   color: #000;
   /* border-bottom: 3px solid #333; */
}

.subMenuItemLink {
   /* border-left: 3px solid #a0bad4;  */
   color: #000;
}

.subMenuItemLink:hover {
   color: #000;
   /* border-left: 3px solid #333; */
}

#navbar a.active {
   font-weight: bold;
   border-bottom: 3px solid #d47a46;
}

.subMenuLink img, .menuItemLink img {
   padding-right: 6px;
}

#navbar {
   display: flex;
   justify-content: center;
   padding-bottom: 7px;
   padding-top: 7px;
   /* background-color: #04333F;*/
    background-color: #a0bad4;
   width: 84%;
   padding-left: 8%;
   padding-right: 8%;
}

#footer {
   min-height: 32px;
   background-color: #a0bad4;
   margin-top: 10px;
   width: 100%;
}

#navbar a {
   /* color: #dcdcdc; */
    color: #333;
   font-size: 110%;
   height: 28px;
   display: flex;
   align-items: center;
}


#pageBody {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.profileView {
   max-width: 1000px;
   min-width: 700px;
   display: flex;
   flex-direction: column;
   margin: auto;
}

.loginView {
   padding-top: 5px;
   padding-bottom: 5px;
   width: 400px;
   display: flex;
   flex-direction: column;
}

.loginPanel {
   display: flex;
   width: 100%;
   border-bottom: solid 1px #ccc;
   justify-content: center;
}

.editFormView {
   display: flex;
   flex-direction: column;
   max-width: 1000px;
}

.formField {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.searchField {
   width: 500px;
   margin: auto;
   padding-top: 10px;
   padding-bottom: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.searchField > label {
   font-size: 85%;
   padding-right: 5px;
}

.searchField > input {
   margin-right: 5px;
}

.formField > label {
   text-align: right;
   width: 20%;
   margin-right: 1%;
}

.formField input[type=text], .formField input[type=password] {
   width: 30%;
}

.formField .wideTextField[type=text] {
   width: 78%;
}

.formField .wideTextField[type=password] {
   width: 78%;
}

.formTitle {
   font-size: 110%;
   margin-top: 5px;
   margin-bottom: 5px;
}

.confirmButtons, .formTitle, .formError, .formStatus,  .formMessage {
   margin-left: 21%;
}

.centeredForm {
   margin: auto;
}

.formStatus, .leftFormStatus {
   font-size: 85%;
   font-style: italic;
}

.slideNavRow {
   background: transparent;
}

.selectDot, .selectedDot {
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid #ccc;
   padding: 0;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   margin-left: 2px;
   margin-right: 2px;
}

.selectDot:hover {
   background-color: #aaa;
}

.selectedDot {
   background-color: #777;
}

.leftSlideArrow, .rightSlideArrow {
   cursor:pointer;
   font-size: 180%;
}

.leftSlideArrow {
   position: relative;
   top: -340px;
   left: -100px;
}

.rightSlideArrow {
   position: relative;
   top: -340px;
   left: 800px;
}

.centerSlideButtons {
   margin:auto;
   position: relative;
   bottom: 30px;
   left: 45%;
   background: transparent;
}

.closeButton {
   vertical-align: bottom;
   outline-style: none;
   padding-left: 5px;
}

.siteIndexView {
   max-width: 1000px;
   min-width: 500px;
   display: flex;
   flex-direction: column;
}

.subFormTitle {
   padding-top: 5px;
}

.subFormBody .siteLink {
   padding-left: 5px;
}

.subFormBody {
   padding-left: 10px;
}

.subForm {
   margin-top: 10px;
}

.siteIndexBody {
   max-width: 975px;
   min-width: 600px;
   background: #f3f3f3;
   border-top: solid 1px #aaa;
   border-bottom: solid 1px #ccc;
   border-left: solid 1px #ccc;
   border-right: solid 1px #ccc;
}

.siteIndexView {
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

.siteContents {
   border-left: solid 1px #ccc;
   border-right: solid 1px #ccc;
   border-top: solid 1px #ccc;
   border-bottom: solid 1px #ccc;
   padding: 2px;
   background: #fff;
}

.siteLinkView {
   padding: 15px;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   width: 120px;
   height: 130px;
}

.searchResultView {
   padding: 4px;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: center;
   width: 220px;
}

.smallViewImage {
   width: 200px;
}

.siteLinkView img {
   margin: auto;
}

.siteBox {
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 10px;
   margin-right: 10px;
}

.siteNavBox {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
}

.siteNavBox a {
   text-decoration: none;
   display: flex;
   align-items: center;
}

.siteNavBox a:visited {
   color: #333;
}

.siteNavBox img {
   padding-right: 4px;
}

.siteTypeName {
   font-size: 75%;
   background: #ccc;
   width: 72px;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 0px;
   padding-right: 5px;
   display: flex;
   justify-content: space-between;
}

.siteLinkType {
   font-size: 75%;
   font-style: italic;
   padding-top: 3px;
   padding-bottom: 0px;
   padding-right: 5px;
   display: flex;
   margin-left: 10px;
}

.siteLinkTitle {
   margin-left: 10px;
}

.siteLinkType img {
   padding-left: 5px;
}

.searchResultType {
   font-size: 75%;
   font-style: italic;
}

.siteLinkBox {
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
}
.siteLinkView a {
   text-decoration: none;
   color: #333;
}

.siteLinkView a:visited {
   text-decoration: none;
   color: #333;
}

.siteLinksBox {
   display: flex;
   flex-wrap: wrap;
}

#searchResultsPanel {
   max-width: 700px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
}

.searchResultsMessage {
   padding-top: 10px;
   max-width: 700px;
   margin: auto;
   font-size: 85%;
   font-style: italic;
}

.welcomeSiteIndex {
   margin-top: 10px;
   margin-bottom: 10px;
}

#welcomeTitle {
   font-size: 120%;
}

.welcomeDetail {
}

input[type=button]:disabled, input[type=submit]:disabled {
   background: #aaa;
}

input[type=button], input[type=submit] {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #296ecc;
   color: #f3f3f3;
   border-radius: 2px;
}

input[type=file]::file-selector-button {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #296ecc;
   color: #f3f3f3;
   border-radius: 2px;
}

input[type=file]::-webkit-file-upload-button {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #296ecc;
   color: #f3f3f3;
   border-radius: 2px;
}

input[type=button]:hover {
   color: #fff;
}

.bannerBlock {
   width: 700px;
   height: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.headlineBlock {
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #69b97F;
}

.contentView {
   align-self: stretch;
}

.slideshowView {
}

#searchPanel {
   width: 100%;
   border-bottom: solid 1px #ccc;
   padding-bottom: 5px;
}

#searchTextField {
   width: 350px;
}

.searchResultThumbView {
   height: 200px;
   display: flex;
   align-items: flex-end;
   padding-bottom: 5px;
}

.searchResultView a {
   text-decoration: none;
   color: #333;
}

.searchResultDesc {
   font-size: 85%;
}

.closeSearchButton {
   margin-left: 45%;
}

.pageTitle {
   font-size: 120%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.siteLinkThumb {
   height: 100px;
   display: flex;
}

.siteLinkThumb img {
   width: fit-content;
   height: fit-content;
}

