.subMenuBox {
   position: absolute;
   z-index: 5;
   padding: 3px;
   background-color: #fff;
}

.subMenuItem {
   padding: 3px;
}

.subMenuLink, .menuItemLink {
   padding-left: 10px;
   padding-right: 25px;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: #000;
}

#navbar {
   display: inline-flex;
   padding-bottom: 20px;
}

.formField {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.formField > label {
   text-align: right;
   width: 20%;
   margin-right: 1%;
}

.formField input[type=text], .formField input[type=password] {
   width: 30%;
}

.formField .wideTextField[type=text] {
   width: 78%;
}

.formTitle {
   font-size: 110%;
   margin-top: 5px;
   margin-bottom: 5px;
}

.confirmButtons, .formTitle, .formError, .formStatus, .subFormTitle, .formMessage {
   margin-left: 21%;
}
