
.findMediaButton, .clearMediaButton, .clearOptionButton {
   vertical-align: bottom;
}

.mediaListThumb, .removeMediaButton {
   vertical-align: middle;
}

.mediaListThumb {
   width: 110px;
   padding-left: 5px;
   padding-right: 5px;
}

.mediaRow, .selectedMediaRow, .headerRow, .productRow, .selectedProductRow {
   display: flex;
   align-items: center;
}

.mediaRow, .selectedMediaRow, .productRow, .selectedProductRow {
   cursor: pointer;
   margin-bottom: 5px;
}

.selectedMediaRow, .selectedProductRow {
   background-color: #ddddff;
}

.smallMediaColumn, .smallHeaderColumn, .smallSkuColumn {
   padding: 2px;
   width: 50px;
}

.mediaColumn, .headerColumn, .productColumn, .skuColumn {
   padding: 2px;
   width: 100px;
}

.wideMediaColumn, .wideHeaderColumn, .wideProductColumn, .wideSkuColumn {
   padding: 2px;
   width: 200px;
}

.headerRow {
   background-color: #ccc;
}

#mgrFrame {
   max-width: 1000px;
   margin: auto;
}

#storeSelect, #mgrNav {
   margin-left: 10px;
   margin-bottom: 10px;
}

#listView, #startAddView, #findProductsView {
   margin-bottom: 5px;
   margin-top: 5px;
}

#detailView {
   display: flex;
}

.formView {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.formView > label {
   text-align: right;
   width: 10em;
   margin-right: 10px;
}


.formView input[type=text] {
   width: 20em;
}

.formTitle {
   font-size: 110%;
   margin-top: 5px;
   margin-bottom: 5px;
}

.confirmButtons, .formTitle, .checkFormView, .skuOptionsSummary {
   margin-left: 175px;
}

.subFormView {
   margin-top: 10px;
   margin-bottom: 10px;
   border: solid 1px #aaa;
   display: flex;
   padding: 5px;
   flex-direction: column;
}

.subFormTitle {
   font-size: 105%;
   margin-top: 5px;
   margin-bottom: 5px;
}

.formViewError {
}

#detailFormView {
   display: flex;
   flex-direction: column;
}

.rightButton {
   margin-left: 10px;
}

#addSkuButtons, .subFormTitle, .skuListTitle {
   margin-left: 175px;
}

.mediaImageList {
   display: flex;
}

.mediaEmptyTitle {
   padding: 25px;
}

.mediaImageList, .mediaEmptyTitle {
   background: #eef1ff;
}

.prodMediaView {
   margin: 5px;
   display: flex;
   flex-direction: column;
}

.longDescText {
   width: 100%;
   border: solid 1px #aaa;
}

.shortDescField {
   width: 60em;
}

/* For summernote - to get rid of the weird space due to it's use of the <p> wrapper */
.note-editor .note-editable p { margin-bottom: 0 !important; margin-top: 0px}

.note-editable { font-size: 13px; }

.optionListView, .optionValueList {
   margin-left: 25px;
   width: fit-content;
   padding: 5px;
}

#optionsView {
}

#optionSchemeView {
   border: solid 1px #aaa;
}

.longDescView, .boxTitle {
  margin-top: 10px;
}

.boxTitle {
   margin-left: 25px;
}

.newValueView {
   padding: 5px;
   background: #dde0ee;
   margin-top: 2px;
}

.newOptionView {
   padding: 5px;
   background: #eef1ff;
   margin-top: 2px;
}

.endListButton {
   margin-top: 10px;
}

#addMediaView {
   display: flex;
}

.skuListView {
   display: flex;
   flex-direction: column;
}

.skuRowView, .skuHeaderRow {
   display: flex;
   flex-direction: row;
   margin-top: 2px;
   margin-bottom: 2px;
}

.skuHeaderRow {
   background: #dde0ee;
}

.optionValueCell0, .optionValueCell1, optionValueCell2 {
   padding: 3px;
   margin: 2px;
}

.optionValueCell0 {
   background: #f1eeff;
}

.optionValueCell1 {
   background: #eef1ff;
}

.optionValueCell2 {
   background: #ffeef1;
}

#skuOptionsView {
   margin-top: 5px;
   padding: 5px;
   margin-bottom: 5px;
   border: solid 1px #aaa;
   width: fit-content;
}

.skuListViewBox {
   margin-top: 5px;
   margin-bottom: 5px;
}

.skuListTitle {
   font-size: 105%;
   margin-top: 10px;
}

.quantityCell {
   width: 5em;
}
