html, input, select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 95%;
}

input[type=button], input[type=submit] {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #0f6dec;
   color: #f3f3f3;
}

input[type=file]::file-selector-button {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #0f6dec;
   color: #f3f3f3;
}

input[type=file]::-webkit-file-upload-button {
   border: solid 0px #0e75ff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 3px;
   padding-bottom: 3px;
   background: #0f6dec;
   color: #f3f3f3;
}

input[type=button]:hover {
   color: #fff;
}

.findMediaButton, .clearMediaButton, .clearOptionButton, .findProductButton, .clearProductButton, .findCategoryButton, .clearCategoryButton,
 .findUserButton, .clearUserButton, .findSiteButton, .clearSiteButton, .findPageButton, .clearPageButton, .removeSkuOptionButton,
  .findOrdersButton, .clearOrdersButton, .findSkusButton .clearSkusButton {
   vertical-align: bottom;
   outline-style: none;
}

.mediaListThumb, .removeMediaButton {
   vertical-align: middle;
}

.mediaListThumb {
   width: 110px;
   padding-left: 5px;
   padding-right: 5px;
}

.mediaRow, .selectedMediaRow, .headerRow, .productRow, .selectedProductRow, .categoryRow, .selectedCategoryRow, .mainSkuRow,
.siteRow, .selectedSiteRow, .pageRow, .selectedPageRow, .orderRow, .selectedOrderRow, .currencyRow, .countryRow, .userRow, .selectedUserRow,
 .sessionRow, .eventRow {
   display: flex;
   align-items: center;
   padding-left: 2px;
}

.mediaRow, .selectedMediaRow, .productRow, .selectedProductRow, .categoryRow, .selectedCategoryRow, .mainSkuRow, .selectedSkuRow,
.pageRow, .selectedPageRow, .orderRow, .selectedOrderRow, .userRow, .selectedUserRow, .sessionRow, .eventRow {
   cursor: pointer;
   margin-top: 2px;
   margin-bottom: 2px;
}

.selectedMediaRow, .selectedProductRow, .selectedCategoryRow, .selectedSkuRow, .selectedPageRow, .selectedOrderRow, .selectedUserRow {
   background-color: #eef1ff;
}

.smallMediaColumn, .smallHeaderColumn, .smallProductColumn, .smallSkuColumn, .smallSiteColumn, .smallPageColumn,
.smallOrderColumn, .smallUserColumn, .smallSessionRow, .smallEventRow {
   padding: 2px;
   width: 60px;
   flex-grow: 0;
   flex-shrink: 0;
   overflow: auto;
}

.mediaColumn, .headerColumn, .productColumn, .skuColumn, .categoryColumn, .pageColumn, .orderColumn, .currencyColumn, .countryColumn, .userColumn, .eventColumn, .sessionColumn {
   padding: 2px;
   width: 100px;
   flex-grow: 0;
   flex-shrink: 0;
   overflow: auto;
}

.wideMediaColumn, .wideHeaderColumn, .wideProductColumn, .wideSkuColumn, .wideCategoryColumn, .wideSiteColumn, .widePageColumn, .wideOrderColumn, .wideCountryColumn, .wideUserColumn,
 .wideSessionColumn, .wideEventColumn {
   padding: 2px;
   width: 180px;
   flex-grow: 0;
   flex-shrink: 0;
   overflow: auto;
}

.headerRow {
   background-color: #dedede;
   padding-top: 2px;
   padding-bottom: 2px;
}

#mgrFrame {
   /* max-width: 1000px;*/
    max-width: 975px;
   margin: auto;
   background: #f3f3f3;
}

#mgrNavBar {
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   background: #fff;
   /* border-bottom: solid 1px #ccc; */
}

#storeSelect, #mgrNav {
   margin-left: 10px;
   margin-bottom: 10px;
}

#mgrNav a {
   text-decoration: none;
   border-bottom: 3px solid #fff;
   color: #333;
   padding-left: 3px;
   padding-right: 3px;
}

#mgrNav .selectedLink {
   border-bottom: 3px solid #d47a46;
}

#mgrNav a:visited {
   color: #333;
}

#mgrNav a:hover {
   border-bottom: 3px solid #e8b575fa;
}

.mgrNavIcon {
   vertical-align: middle;
}

#listView, #startAddView, #findProductsView, #findCategoriesView, #findMediaView, #currentSitesView, #currentUsersView, #currentMediaView {
   margin-bottom: 10px;
   margin-top: 10px;
}

#detailView {
   display: flex;
}

.formField {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.multiFormField {
/*
   padding-left: 10px;
   padding-right: 10px;
*/
}

.formField > label {
   text-align: right;
   width: 20%;
   margin-right: 1%;
}

.formField input[type=text], .formField input[type=password] {
   width: 30%;
}

.formField .wideTextField[type=text] {
   width: 75%;
}

.formTitle {
   font-size: 110%;
   margin-top: 10px;
   margin-bottom: 5px;
}

.confirmButtons, .formTitle, .checkFormView, .skuOptionsSummary, .formError, .formStatus,
#addSkuButtons, .subFormTitle, .skuListTitle, .formMessage, #orderTypeForm, .formButtonRow, #userTypeForm {
   margin-left: 21%;
}

.skuOptionsSummary {
   margin-top: 5px;
}

.subFormView {
   margin-top: 5px;
   margin-bottom: 5px;
   border-top: solid 1px #aaa;
   border-bottom: solid 1px #ccc;
   display: flex;
   padding-top: 5px;
   padding-bottom: 5px;
   flex-direction: column;
   background: #fff;
}

.subFormTitle {
   font-size: 105%;
   margin-top: 5px;
   margin-bottom: 5px;
}

.formContainer {
   margin-top: 10px;
   margin-bottom: 10px;
   /* padding: 5px; */
   display: flex;
   flex-direction: column;
   /* background: #fff; */
}

.subFormContainer {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: column;
   border-top: solid 1px #aaa;
   background: #eef1ff;
}

.rightButton {
   margin-left: 1%;
}

.findMediaButton, .findCategoryButton, .findProductButton, .findUserButton, .findSiteButton, .findPageButton, .findOrdersButton, .findSkusButton {
   margin-left: 5px;
}

.clearMediaButton, .clearCategoryButton, .clearProductButton, .clearUserButton, .clearSiteButton, .clearPageButton, .clearOrdersButton, .clearSkusButton {
   margin-left: 1%;
}

.mediaImageList, .productImageList {
   display: flex;
   align-items: baseline;
   overflow: auto;
}

.mediaEmptyTitle, .menuItemsEmptyTitle, .noViewsTitle {
   padding-left: 21%;
   padding-right: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
}

.mediaImageList, .mediaEmptyTitle, .productImageList, .noViewsTitle, .menuItemsEmptyTitle {
   background: #eef1ff;
}

.prodMediaView, .catMediaView {
   margin: 5px;
   display: flex;
   flex-direction: column;
}

.longDescText {
   width: 100%;
   border: solid 1px #aaa;
}

.shortDescField {
   width: 60em;
}

/* For summernote - to get rid of the weird space due to it's use of the <p> wrapper */
.note-editor .note-editable p { margin-bottom: 0 !important; margin-top: 0px}

/*.note-editable { font-size: 13px; } */

.note-frame { font-family: inherit}

.optionListView, .optionValueList {
   margin-left: 25px;
   width: fit-content;
   padding: 5px;
}

#optionsView {
}

.longDescView, .boxTitle {
  margin-top: 10px;
}

.longDescView {
  height: 177px;
}

.boxTitle {
   margin-left: 25px;
}

.newValueView {
   padding: 5px;
   background: #dde0ee;
   margin-top: 2px;
}

.newOptionView {
   padding: 5px;
   background: #eef1ff;
   margin-top: 2px;
}

.menuItemEntry, .navMenuItem {
   background: #eef1ff;
}

.selectedMenuItemEntry, .selectedNavMenuItem {
   background: #dde1ee;
}

.menuItemEntry, .selectedMenuItemEntry {
   margin-left: 15%;
   width: 70%;
}

.navMenuItem, .selectedNavMenuItem {
   margin-left: 20%;
   width: 60%;
}

.childMenuItems {
   margin-left: 20px;
}

.menuItemEntry, .selectedMenuItemEntry, .navMenuItem, .selectedNavMenuItem {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 5px;
   margin-top: 2px;
}

.menuItemSel {
   width: 200px;
}

.endListButton {
   margin-top: 10px;
}

#addMediaView {
   display: flex;
}

.skuListView {
   display: flex;
   flex-direction: column;
   background: #eef1ff;
   padding: 10px;
}

.skuRowView, .skuHeaderRow {
   display: flex;
   flex-direction: row;
   margin-top: 2px;
   margin-bottom: 2px;
}

.skuHeaderRow {
   background: #dde0ee;
   padding: 5px;
}

.optionValueCell0, .optionValueCell1, .optionValueCell2 {
   padding: 3px;
   margin: 2px;
}

.optionValueCell0 {
   background: #f1b9e7;
}

.optionValueCell1 {
   background: #aae2d1;
}

.optionValueCell2 {
   background: #e2b185;
}

#skuOptionsView {
   margin-top: 5px;
   padding: 5px;
   margin-bottom: 5px;
   border: solid 1px #aaa;
   width: fit-content;
   margin-left: 10%;
}

.skuListViewBox {
   margin-top: 5px;
   margin-bottom: 5px;
}

.skuListTitle {
   font-size: 105%;
   margin-top: 10px;
}

.quantityCell {
   width: 5em;
}

.mediaInfoText, .productInfoText {
   max-width: 100px;
   font-size: 75%;
   overflow: hidden;
   text-overflow: ellipsis;
}

.fieldInput {}

.fieldInputError, input:invalid {
   border-color: #c00;
}

.formError {
   color: #c00;
   font-style: italic;
   font-size: 85%;
}

.formStatus, .formMessage, .mediaEmptyTitle, .mgrViewStatus, .noViewsTitle, .menuItemsEmptyTitle, .addHomePageTitle {
   font-style: italic;
   font-size: 85%;
}

.mgrViewStatus {
   margin-top: 10px;
   margin-bottom: 10px;
}

#mgrView {
   padding-bottom: 5px;
   border-top: solid 1px #aaa;
   border-bottom: solid 1px #ccc;
   border-left: solid 1px #ccc;
   border-right: solid 1px #ccc;
}

.detailView {
   overflow: hidden;
   transition: max-height 0.5s ease-out, border 0.5s ease-out, margin-top 0.5s, margin-bottom 0.5s;
   height: auto;
}

.openDetail {
   visibility: inherit;
   /* border: solid 1px rgba(170,170,170,1); */
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   padding: 5px;
   flex-direction: column;
}

.closedDetail {
   max-height: 0px;
   border: solid 0px rgba(170,170,170,0);
   margin-bottom: 0px;
   margin-top: 0px;
}


.menuItemDetail {
   border : solid 1px rgba(170,170,170,1);
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-bottom: 5px;
}

.childMenuItems {
   border : solid 1px rgba(170,170,170,1);
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-right: 20px;
}

#addMenuItemButtons, #addViewButtons, #savePageButtons {
   padding-top: 5px;
}

.selectedViewEditorTitle {
   background: #dde1ee;
}

.viewEditorTitle {
   /* background: #f5f5f5; */
    background: #fff;
}

.viewEditorTitle, .selectedViewEditorTitle {
   font-size: 105%;
   margin-top: 2px;
   margin-bottom: 4px;
   padding: 5px;
   display: flex;
   cursor: pointer;
}

.removeViewButton {
   margin-left: auto;
   outline-style: none;
}

/* Nesting of tables in UserManager */
#userDetailView, .sessionEventBox {
   margin-left: 20px;
}

.sessionEventBox {
   background-color: #eef1ff;
}


#userNav {
   margin-left: 20px;
}

.orderDetailForm {
   margin-left: 20px;
}

#loginMenu {
   position: fixed;
   z-index: 5;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   background-color: #fff;
   top: +40px;
   border: solid 1px #aaa;
}

#loginMenu a, #userNav a {
   text-decoration: none;
   color: inherit;
}

.logoutIcon {
   position: relative;
   top: 5px;
   padding-right: 5px;
}

.orderElemView {
   display: flex;
   flex-direction: column;
}

.childViewContainer {
   padding: 2px;
   background: #fff;
}

.selectedChildViewsView > .childViewContainer {
   border-left: solid 4px #dde1ee;
   border-right: solid 4px #dde1ee;
   border-top: solid 4px #dde1ee;
   border-bottom: solid 6px #dde1ee;
}

.childViewsView > .childViewContainer {
   border-left: solid 4px #ccc;
   border-right: solid 4px #ccc;
   border-top: solid 4px #ccc;
   border-bottom: solid 6px #ccc;
}

.viewEditorTitleText {
   padding-left: 5px;
   padding-top: 2px;
}

.openViewButton {
   padding-left: 5px;
   padding-right: 5px;
   outline-style: none;
}

.viewEditorForm {
   width: 80%;
   display: flex;
   flex-direction: column;
}

.boxRow {
   display: flex;
   align-items: center;
}

.childViewsView > .childViewsTitle {
   font-size: 85%;
   background: #ccc;
   width: 100px;
   padding-left: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
}

.selectedChildViewsView > .childViewsTitle {
   font-size: 85%;
   background: #dde1ee;
   width: 100px;
   padding-left: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
}


.titleDetailLink {
   font-size: 85%;
}
