.categoryNavView {
   margin-top: 25px;
   margin-left: 15px;
   margin-bottom: 25px;
}

.cartTitle {
   font-size: 140%;
}

.cartContents {
  display: flex;
  flex-direction: column;
}

.cartLineItem {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
}

.cartProductThumb, .cartLineItemQuantity, .cartProductInfo, .cartStatus, .cartPrice {
   margin-right: 10px;
}

.cartProductThumb {
   flex-grow: 0;
}

.cartOption {
   padding-right: 10px;
}

.cartOptions {
   display: flex;
   flex-direction: row;
}

.cartLineItemQuantity {
   flex-grow: 0;
   width: 35px;
   height: fit-content;
}

.cartDeleteItem {
   cursor: pointer;
}

.cartProductInfo {
   max-width: 300px;
   display: flex;
   flex-direction: column;
   flex-grow: 2;
}

.categoryLink {
  text-decoration: none;
  font-size: 120%;
  color: #000;
}

.cartTotalPrice {
   padding-top: 10px;
   font-size: 120%;
}

.productView {
  display: flex;
  flex-direction: column;
}

.productDetailView {
   margin-top: 25px;
   margin-left: 25px;
   display: flex;
   flex-direction: row;
}

.imageView {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.viewImage, .thumbImage {
  width: fit-content;
}

.thumbNailsView {
   display: flex;
   flex-direction: row;
}

.thumbView {
   cursor: pointer;
}

.thumbViewSelected {
   border: solid 3px #dc4f44;
}

.productInfoView, .thumbView, .productImageView, .categoryDesc, .categoryViewImage {
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 0px;
}

.productNameView {
   font-size: 150%;
   font-weight: bold;
}

.beforePrice, .price {
   font-size: 110%;
}

.price {
   font-weight: bold;
}

.beforePrice {
   text-decoration: line-through;
   color: #999;
}

.optionsTagView {
   display: flex;
}

.optionView, .longDesc, .skuCode, .priceView, .productNameView {
   padding: 10px;
}

.thumbNavLink {
   text-decoration: none;
   display: flex;
   flex-direction: column;
}

.productsView, .subCategoriesView {
   display: flex;
}
