.categoryNavView {
   margin-top: 10px;
   margin-left: 5px;
   margin-bottom: 5px;
}

.cartTitle {
   font-size: 140%;
   margin-bottom: 20px;
}

.viewTitle {
   font-size: 110%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.cartContents {
  display: flex;
  flex-direction: column;
  margin-top: 10px
}

.cartLineItem {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
}

.cartProductThumb, .cartLineItemQuantity, .cartProductInfo, .cartStatus, .cartPrice {
   margin-right: 10px;
}

.cartProductThumb {
   flex-grow: 0;
}

.cartOption {
   padding-right: 10px;
}

.cartOptions {
   display: flex;
   flex-direction: row;
}

.cartLineItemQuantity {
   flex-grow: 0;
   width: 35px;
   height: fit-content;
}

.cartDeleteItem {
   cursor: pointer;
}

.cartProductInfo {
   max-width: 300px;
   display: flex;
   flex-direction: column;
   flex-grow: 2;
}

.categoryLink {
  text-decoration: none;
  font-size: 120%;
  color: #000;
}

.cartTotalPrice {
   padding-top: 10px;
   font-size: 120%;
}

.categoryView, .productView {
   max-width: 1000px;
   display: flex;
   flex-direction: column;
}

.productDetailView {
   margin-top: 5px;
   margin-left: 5px;
   display: flex;
   flex-direction: row;
}

.imageView {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*
.viewImage {
  width: fit-content;
}
*/

.thumbImage, .productViewImage {
  width: fit-content;
  height: fit-content;
}

.thumbImageBox {
   height: 100px;
   display: flex;
   align-items: center;
}

@media (min-width: 900px) {
   .productViewImageBox {
      width: 640px;
      height: 640px;
   }

   .viewImage {
      width: 640px;
   }
}

@media (max-width: 900px) {
   .productViewImageBox {
      width: 320px;
      height: 320px;
   }

   .viewImage {
      width: 320px;
   }
}

.productViewImageBox {
   display: flex;
   align-items: center;
}

.thumbNailsView {
   display: flex;
   flex-direction: row;
}

.thumbView {
   cursor: pointer;
   display: flex;
   align-items: center;
}

.thumbViewSelected {
   border: solid 3px #dc4f44;
}

.productInfoView, .thumbView, .productImageView, .categoryDesc, .categoryViewImage {
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 0px;
}

.productNameView, .categoryNameView {
   font-size: 150%;
   font-weight: bold;
}

.beforePrice, .price {
   font-size: 110%;
}

.price {
   font-weight: bold;
}

.beforePrice {
   text-decoration: line-through;
   color: #999;
}

.optionsTagView {
   display: flex;
}

.optionView, .longDesc, .skuCode, .priceView, .productNameView, .categoryNameView, .addToCartForm {
   padding: 10px;
}

.optionTagView, .longDesc, .skuCode, .priceView, .productNameView, .categoryNameView {
   width: 250px;
}

.thumbNavLink {
   text-decoration: none;
   display: flex;
   flex-direction: column;
}

.productsView, .subCategoriesView {
   display: flex;
}

.addressEditView {
   display: flex;
   flex-direction: column;
   width: 450px;
}

.formFieldRow {
   display: flex;
}

#guestCheckoutBox {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
}

.fieldBox label {
   display: block;
   font-size: 85%;
   font-color: #ccc;
}

.fieldInput {
}

.fieldBox input, .fieldBox select {
   font-size: 100%;
}

.fieldInputError, input:invalid {
   border-color: #c00;
}

.fieldError {
   color: #c00;
   font-size: 85%;
}

.fieldBox {
   max-width: 350px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.zipFieldBox {
   flex-basis: content;
}

.addressEditView .fieldBox, .paymentView .fieldBox {
   margin-left: 10px;
}

.submitSubForm {
   margin-left: 10px;
   margin-bottom: 10px;
}

.addressView, .paymentInfoView, .shippingAddressView, .completedShipTo {
   margin-left: 10px;
}

#emailFieldBox {
   margin-left: 10px;
}

.quantityField {
   width: 3em;
}

.shippingAddressView {
   display: flex;
   margin-top: 5px;
   margin-bottom: 5px;
}

.paymentInfoView {
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
}

.selectListRadio {
   margin-right: 5px;
}

.statusBox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recentOrderMessage {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.rowStatusBox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.removeAddressButton, .removePaymentInfoButton {
   margin-left: 20px;
   vertical-align: middle;
}

.paymentSummary {
   min-width: 150px;
}

.paymentSavedMessage {
   font-style: italic;
   font-size: 85%;
}

#savePaymentInfoBox, #billToShippingBox {
   margin-left: 10px;
}

